*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(224, 213, 213);
    display: flex;
    align-items: center;

    font-family: sans-serif
}



.esquerda{
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.esquerda img{
    width: 600px;
}

.direita{
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 300px;
    border-radius: 9px;
    margin-top: 20px;
    background-color: rgba(41, 235, 15, 0.377);
}

h1{
    color: rgba(0, 255, 255, 0.678);
    font-weight: bold;
    font-size: 46px;
}

form div img{
    width:30px  ;
    padding-top: 15px;
    border-radius: 50%;
}

input{
    border-radius: 4px;
    height: 26px;
    padding-left: 5px;
    width: 250px;
    border: none;
}

.input{
    margin-top: 15px;     
     
}

p {
    font-size: 15px;
    color: white;
}

input::placeholder{
    padding-left: 5px;
}

input:focus {
    outline: none;
}


.butao input{
    width: 200px;
    color: white;
    background-color: rgba(0, 255, 255, 0.678);
    margin-top: 17px;
    border: none;
    font-weight: bold;
}

.butao input:hover {
    border: 1px solid rgba(0, 255, 255, 0.404);
    cursor: pointer;
    transition: all 300ms ease;
}